<form method="post" style="padding-left:5px;float: left" action="{{ path('company_type_delete', {'id': company_type.id}) }}" onsubmit="return confirm('Вы уверены что хотите удалить?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company_type.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
</form>
